:host {
    ion-content {
        div {
            &.align-items {
                display: flex;
                background-color: #466c8a;
                flex-direction: column;
                justify-content: space-evenly;
                // font-size: 25px;
                --background: var(--ion-color-primary);
            }
        }

        div {
            &.myButton {
                background-color: #466c8a;
                --background: var(--ion-color-primary);
            }
        }
    }
}
