<!--font-size: rem
width: % in combination with a max-width, ch
height: question urself "do i rly need to set height" if yes -> use a min-height
padding/margin: rem or em, kevin often uses em for padding of buttons
media queries: em

px only for little things like shadows, borders etc.-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>#Today</ion-title>
    <!-- <app-todos></app-todos> -->
    <!-- <app-refresher>Refresher</app-refresher> -->
    <!-- Custom Refresher Content -->
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
          refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
    </ion-content>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>

    <!-- Default Refresher -->
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    </ion-content>

  </ion-header>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item 1</ion-item>
        <ion-item>Menu Item 2</ion-item>
        <ion-item>Menu Item 3</ion-item>
        <ion-item>Menu Item 4</ion-item>
        <ion-item>Menu Item 5</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Custom Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-menu side="end" type="push" contentId="main">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>End Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu> -->

  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-list>
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding *ngFor="let dailyTrend of DailyTrends; let i=index;">
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
        <ion-item-option color="danger" (click)="share(item)">Share</ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label>
          {{dailyTrend.title.query}}
        </ion-label>
        <ion-text>{{dailyTrend.formattedTraffic}}</ion-text>
      </ion-item>


      <ion-item-options>
        <ion-item-option color="primary" (click)="renderExtraInfo(i, 0)">
          <ion-icon slot="end" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          More
        </ion-item-option>
        <ion-item-option color="secondary">
          <ion-icon slot="end" name="archive"></ion-icon>
          Archive
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div>
    <ion-button class="myButton" *ngIf="!yesterdayLoaded" (click)="loadYesterdayInfo()">Load yesterday</ion-button>
  </div>
  <ion-list *ngIf="yesterdayLoaded">
    <!-- Sliding item with text options on both sides -->
    <ion-toolbar class="sticky">
      <ion-title size="large">#Yesterday</ion-title>
    </ion-toolbar>
    <ion-item-sliding *ngFor="let dailyTrend of DailyTrendsYStore; let i=index;">
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
        <ion-item-option color="danger" (click)="share(item)">Share</ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label>
          {{dailyTrend.title.query}}
        </ion-label>
        <ion-text>{{dailyTrend.formattedTraffic}}</ion-text>
      </ion-item>


      <ion-item-options>
        <ion-item-option color="primary" (click)="renderExtraInfo(i, 1)">
          <ion-icon slot="end" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          More
        </ion-item-option>
        <ion-item-option color="secondary">
          <ion-icon slot="end" name="archive"></ion-icon>
          Archive
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <div class="figma">
 
  </div> -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer> -->